---
import MachineCard from '@components/ui/machine-card.astro'
import PagesHeader from '@components/ui/pages-header.astro'
import convertTitleToURL from 'src/utils/convert_title_to_url'
import machines from 'src/data/machines.json'

const list = machines.map((machine, index) => {
  const { title, descriptionCard, images } = machine
  const img = `https://placehold.co/290x290/png?text=${convertTitleToURL(title)}`
  const imgAlt = images[0].alt
  return { img, imgAlt, title, descriptionCard, index }
})

const machinesList = list.slice(0, 7)
const implementsList = list.slice(7, list.length)
---

<PagesHeader
  title='Nuestra Flota'
  subtitle='Contamos con maquinaria de última generación, mantenida bajo los más altos estándares de calidad para garantizar eficiencia y seguridad en cada proyecto.'
/>
<div
  class='max-w-max-width px-side mx-auto flex gap-4 flex-row md:gap-6 justify-center md:justify-around py-8 flex-wrap'
>
  {
    machinesList.map(machine => (
      <MachineCard
        title={machine.title}
        description={machine.descriptionCard}
        img={machine.img}
        imgAlt={machine.imgAlt}
        index={machine.index}
      />
    ))
  }
</div>
<div class='max-w-max-width px-side mx-auto pt-20'>
  <header class='flex flex-col items-center'>
    <h3
      class='text-2 sm:text-3 tracking-wide text-center animate-fade-down animate-once animate-ease-in-out'
    >
      IMPLEMENTOS
    </h3>
    <p
      class='text-xs animate-fade animate-once animate-delay-200 animate-ease-in-out text-center'
    >
      También contamos con implementos
    </p>
  </header>
  <div
    class='flex gap-4 flex-row md:gap-6 justify-center md:justify-around py-8 flex-wrap'
  >
    {
      implementsList.map(machine => (
        <MachineCard
          title={machine.title}
          description={machine.descriptionCard}
          img={machine.img}
          imgAlt={machine.imgAlt}
          index={machine.index}
        />
      ))
    }
  </div>
</div>
