---
import Layout from '@layouts/Layout.astro'
import convertTitleToURL from 'src/utils/convert_title_to_url'
import services from 'src/data/services.json'
import PagesHeader from '@components/ui/pages-header.astro'
import { Picture } from 'astro:assets'
import Anchor from '@components/ui/anchor.astro'
import ArrowRight from '@components/icons/arrow-right.astro'
import Phone from '@components/icons/phone.astro'
import noDisponible from '/src/assets/no-disponible-625x500.png'
import noDisponible2 from '/src/assets/no-disponible-1250x600.png'
const { title } = Astro.params

const service = (() => {
  return services.find(service => convertTitleToURL(service.title) === title)
})()

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/services/*',
  { eager: true }
)

function getImagePath(fileName: string | undefined) {
  if (!fileName) return null
  const path = `/src/assets/services/${fileName}`
  return images[path]?.default || null
}

const serviceImage1 = getImagePath(service?.images?.[0]?.url)
const serviceImage2 = getImagePath(service?.images?.[1]?.url)
---

<Layout
  title={`Servicio ${service?.title} | Servicios Rimoldi`}
  description={`Conoce más sobre el servicio de ${service?.title} en Calamuchita. Soluciones profesionales con tecnología avanzada para tus proyectos.`}
>
  <main>
    <PagesHeader
      title={service?.title ?? 'Servicio no encontrado'}
      subtitle={service?.descriptionCard ?? ''}
      transitionTitle={`service.title-${service?.title}`}
      transitionSubtitle={`service.description-${service?.title}`}
    />
    <section
      class='max-w-max-width mx-auto px-side-sm sm:px-side py-6 flex flex-col'
    >
      <div class='grid grid-cols-1 gap-6 md:grid-cols-2'>
        <div class='opacity-0 overflow-hidden rounded-10px' id='fade-in-right'>
          <Picture
            src={serviceImage1 || noDisponible}
            alt={service?.images[0].alt ?? 'Imagen no disponible'}
            class='w-full object-cover rounded-10px h-[500px] transition-transform duration-300 hover:scale-105'
            widths={[408, 625, 693]}
            sizes='(max-width: 450px) 408px, (max-width: 768px) 693px, (min-width: 768px) 625px'
            formats={['webp']}
            quality={'max'}
          />
        </div>
        <div class='flex flex-col gap-4 opacity-0' id='fade-in-left'>
          <p>{service?.paragraphs[0]}</p>
          <p>{service?.paragraphs[1]}</p>
          <p>{service?.paragraphs[2]}</p>
        </div>
      </div>
      <div class='opacity-0 mt-12 overflow-hidden rounded-10px' id='fade-in-up'>
        <Picture
          src={serviceImage2 || noDisponible2}
          alt={service?.images[1].alt ?? 'Imagen no disponible'}
          class='w-full object-cover rounded-10px h-[600px] transition-transform duration-300 hover:scale-105'
          width={1250}
          widths={[408, 508, 693, 1250]}
          sizes='(max-width: 450px) 408px, (max-width: 768px) 693px, 1250px'
          formats={['webp']}
          quality={'max'}
        />
      </div>
      <div
        class='min-h-[20rem] flex flex-col justify-center items-center gap-4'
      >
        <h3
          class='font-noto text-2 font-bold text-center opacity-0'
          id='fade-in-down'
        >
          ¿Listo para impulsar tu próximo proyecto?
        </h3>
        <nav
          class='flex gap-3 sm:gap-6 flex-col sm:flex-row'
          aria-label='Contacto'
        >
          <Anchor href='/contacto' ariaLabel='Solicitar Cotización'
            >Solicitar Cotización <ArrowRight /></Anchor
          >
          <Anchor
            href='https://wa.me/3415610722'
            ariaLabel='Contactar por WhatsApp'
            alternative
            external>Contáctanos <Phone /></Anchor
          >
        </nav>
      </div>
    </section>
  </main>
</Layout>
