---
import projects from 'src/data/projects.json'
import { generateList } from 'src/utils/generate-list'
import type { ProjectCard as ProjectCardProps } from 'src/types/cards'
import PagesHeader from '@components/ui/pages-header.astro'
import ProjectCard from '@components/ui/project-card.astro'

const projectList = generateList<ProjectCardProps>(projects, {
  imageSize: '400x240',
  linkPrefix: '/proyecto/'
})
---

<PagesHeader
  title='Nuestras Obras'
  subtitle='Más de 40 años transformando terrenos y construyendo confianza'
/>
<section
  class='w-full max-w-max-width px-side-sm sm:px-side mx-auto flex flex-row gap-6 justify-center sm:justify-between items-center flex-wrap py-8'
>
  <div class='w-[135px] flex flex-col justify-center items-center'>
    <span class='font-noto font-bold text-1 sm:text-2 text-second-color'
      >150+</span
    >
    <p class='text-xxs text-center'>Obras completadas</p>
  </div>
  <div class='w-[135px] flex flex-col justify-center items-center'>
    <span class='font-noto font-bold text-1 sm:text-2 text-second-color'
      >50000+</span
    >
    <p class='text-xxs text-center'>M³ Excavados</p>
  </div>
  <div class='w-[135px] flex flex-col justify-center items-center'>
    <span class='font-noto font-bold text-1 sm:text-2 text-second-color'
      >200+</span
    >
    <p class='text-xxs text-center'>Clientes Satisfechos</p>
  </div>
  <div class='w-[135px] flex flex-col justify-center items-center'>
    <span class='font-noto font-bold text-1 sm:text-2 text-second-color'
      >40+</span
    >
    <p class='text-xxs text-center'>Años de Experiencia</p>
  </div>
</section>
<section
  class='w-full max-w-max-width px-side-sm sm:px-side mx-auto flex flex-wrap gap-4 justify-center py-8'
>
  {
    projectList.map(project => (
      <ProjectCard
        title={project.title}
        description={project.descriptionCard}
        img={project.img}
        imgAlt={project.imgAlt}
        link={project.link}
        category={project.category}
        location={project.location}
        startDate={project.startDate}
        endDate={project.endDate}
        index={project.index}
      />
    ))
  }
</section>
