---
import HomeTitle from './ui/home-title.astro'
import HomeSection from './ui/home-section.astro'
import ServiceCard from '@components/ui/service-card.astro'
import convertTitleToURL from 'src/utils/convert_title_to_url'
import services from 'src/data/services.json'

const servicesList = services
  .map((service, index) => {
    const { title, descriptionCard, images } = service
    const img = `https://placehold.co/270x270/png?text=${convertTitleToURL(title)}`
    const link = `/servicio/${convertTitleToURL(title)}`
    const imgAlt = images[0].alt
    return { img, imgAlt, title, descriptionCard, link, index }
  })
  .slice(0, 6)
---

<HomeSection>
  <HomeTitle
    title='Nuestros Servicios'
    description='Soluciones integrales para tus proyectos de construcción'
    link='/servicios'
    linkText='Ver todos los Servicios'
  />
  <div
    class='flex gap-4 flex-row md:gap-6 justify-center md:justify-around py-3 flex-wrap'
  >
    {
      servicesList.map(service => (
        <ServiceCard
          title={service.title}
          description={service.descriptionCard}
          img={service.img}
          imgAlt={service.imgAlt}
          link={service.link}
          index={service.index}
        />
      ))
    }
  </div>
</HomeSection>
