---
import HomeSection from './ui/home-section.astro'
import HomeTitle from './ui/home-title.astro'
import MachineCard from '@components/ui/machine-card.astro'
import convertTitleToURL from 'src/utils/convert_title_to_url'
import machines from 'src/data/machines.json'

const machinesList = machines
  .map((machine, index) => {
    const { title, descriptionCard, images } = machine
    const img = `https://placehold.co/290x290/png?text=${convertTitleToURL(title)}`
    const imgAlt = images[0].alt
    return { img, imgAlt, title, descriptionCard, index }
  })
  .slice(0, 4)
---

<HomeSection>
  <HomeTitle
    title='Maquinarias'
    description='Equipamiento de vanguardia para resultados excepcionales'
    link='/maquinarias'
    linkText='Ver todas las Máquinas'
  />
  <div
    class='flex gap-4 flex-row md:gap-6 justify-center md:justify-between py-3 flex-wrap'
  >
    {
      machinesList.map(machine => (
        <MachineCard
          title={machine.title}
          description={machine.descriptionCard}
          img={machine.img}
          imgAlt={machine.imgAlt}
          index={machine.index}
        />
      ))
    }
  </div>
</HomeSection>
