---
import HomeSection from './ui/home-section.astro'
import HomeTitle from './ui/home-title.astro'
import MachineCard from '@components/ui/machine-card.astro'
import machines from 'src/data/machines.json'
import { generateList } from 'src/utils/generate-list'
import type { MachineCard as MachineCardType } from 'src/types/cards'

const machinesList = generateList<MachineCardType>(machines, {
  imageSize: '290x290',
  sliceStart: 0,
  sliceEnd: 4
})
---

<HomeSection>
  <HomeTitle
    title='Maquinarias'
    description='Equipamiento de vanguardia para resultados excepcionales'
    link='/maquinarias'
    linkText='Ver todas las Máquinas'
  />
  <div
    class='flex gap-4 flex-row md:gap-6 justify-center md:justify-between py-3 flex-wrap'
  >
    {
      machinesList.map(machine => (
        <MachineCard
          title={machine.title}
          description={machine.descriptionCard}
          img={machine.img}
          imgAlt={machine.imgAlt}
          index={machine.index}
        />
      ))
    }
  </div>
</HomeSection>
