---
import HomeTitle from './ui/home-title.astro'
import HomeSection from './ui/home-section.astro'
import ServiceCard from '@components/ui/service-card.astro'
import services from 'src/data/services.json'
import { generateList } from 'src/utils/generate-list'
import type { ServiceCard as ServiceCardType } from 'src/types/cards'

const servicesList = generateList<ServiceCardType>(services, {
  imageSize: '270x270',
  linkPrefix: '/servicio/',
  sliceStart: 0,
  sliceEnd: 6
})
---

<HomeSection>
  <HomeTitle
    title='Nuestros Servicios'
    description='Soluciones integrales para tus proyectos de construcción'
    link='/servicios'
    linkText='Ver todos los Servicios'
  />
  <div
    class='flex gap-4 flex-row md:gap-6 justify-center md:justify-around py-3 flex-wrap'
  >
    {
      servicesList.map(service => (
        <ServiceCard
          title={service.title}
          description={service.descriptionCard}
          img={service.img}
          imgAlt={service.imgAlt}
          link={service.link}
          index={service.index}
        />
      ))
    }
  </div>
</HomeSection>
