---
import HomeSection from './ui/home-section.astro'
import HomeTitle from './ui/home-title.astro'
import { generateList } from 'src/utils/generate-list'
import type { ProjectCard as ProjectCardProps } from 'src/types/cards'
import projects from 'src/data/projects.json'
import ProjectCard from '@components/ui/project-card.astro'

const projectList = generateList<ProjectCardProps>(projects, {
  linkPrefix: '/proyecto/',
  sliceStart: 0,
  sliceEnd: 5
})
---

<HomeSection>
  <HomeTitle
    title='Obras Destacadas'
    description='Soluciones integrales para tus proyectos de construcción'
    link='/proyectos'
    linkText='Ver todas las Obras'
  />
  <div class='flex flex-wrap gap-4 justify-center py-8'>
    {
      projectList.map(project => (
        <ProjectCard
          title={project.title}
          description={project.descriptionCard}
          img={project.img}
          imgAlt={project.imgAlt}
          link={project.link}
          category={project.category}
          location={project.location}
          startDate={project.startDate}
          endDate={project.endDate}
          index={project.index}
        />
      ))
    }
  </div>
</HomeSection>
