---
import PagesHeader from '@components/ui/pages-header.astro'
import ServiceCard from '@components/ui/service-card.astro'
import services from 'src/data/services.json'
import type { ServiceCard as ServiceCardType } from 'src/types/cards'
import { generateList } from 'src/utils/generate-list'

const servicesList = generateList<ServiceCardType>(services, {
  imageSize: '270x270',
  linkPrefix: '/servicio/'
})
---

<PagesHeader
  title='Nuestros Servicios'
  subtitle='Ofrecemos soluciones integrales en movimiento de suelos y excavaciones, respaldados por años de experiencia y maquinaria de última generación.'
/>
<div
  class='max-w-max-width px-side mx-auto flex gap-4 flex-row md:gap-6 justify-center md:justify-around py-8 flex-wrap'
>
  {
    servicesList.map(service => (
      <ServiceCard
        title={service.title}
        description={service.descriptionCard}
        img={service.img}
        imgAlt={service.imgAlt}
        link={service.link}
        index={service.index}
      />
    ))
  }
</div>
