---
interface Props {
  title: string
  description: string
  description2?: string
}

const { title, description, description2 } = Astro.props
---

<div class='contact__info'>
  <span class='contact__icon'>
    <slot name='icon' />
  </span>
  <nav class='contact__content' aria-label='Información de contacto'>
    <p><strong>{title}</strong></p>
    {
      title === 'Teléfono' ? (
        <a
          href='https://wa.me/3415610722'
          target='_blank'
          rel='noopener noreferrer'
          class='focus:outline-offset-4 focus:outline-2 hover:underline text-third-color'
          aria-label='Contáctanos por WhatsApp'
        >
          {description}
        </a>
      ) : title === 'Email' ? (
        <a
          href={`mailto:${description}`}
          target='_blank'
          rel='noopener noreferrer'
          class='focus:outline-offset-4 focus:outline-2 hover:underline text-third-color'
          aria-label={`Enviar un email a ${description}`}
        >
          {description}
        </a>
      ) : title === 'Locación' ? (
        <a
          href={`https://www.google.com/maps?q=${description}`}
          target='_blank'
          rel='noopener noreferrer'
          class='focus:outline-offset-4 focus:outline-2 hover:underline text-third-color'
          aria-label={`Ver en Google Maps ${description}`}
        >
          {description}
        </a>
      ) : (
        <p>{description}</p>
      )
    }
    {description2 && <p>{description2}</p>}
  </nav>
</div>

<style>
  .contact__info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .contact__icon {
    display: flex;
    color: var(--third-color);
  }

  .contact__content {
    display: flex;
    flex-direction: column;
  }

  .contact__content p strong {
    font-size: var(--step--1);
  }

  .contact__content p {
    font-size: var(--step--1);
  }
</style>
