---
import { Image } from 'astro:assets'

interface Props {
  img: string
  imgAlt: string
  title: string
  description: string
  link: string
}

const { img, imgAlt, title, description, link } = Astro.props
---

<article
  class='group relative flex flex-col gap-3 w-[270px] h-[270px] max-[350px]:w-[230px] max-[350px]:h-[230px] overflow-hidden shadow-project'
  style='content-visibility:'
>
  <Image
    src={img}
    alt={imgAlt}
    width={270}
    height={270}
    class='w-full h-full object-cover transition-transform duration-300 group-hover:scale-105'
  />
  <div
    class='absolute inset-0 w-full h-full flex flex-col items-start justify-end p-4 invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-300 overlay'
  >
    <h3>
      <a
        href={link}
        class='hover:underline text-[1.4rem] font-noto text-second-color font-medium tracking-tight max-[350px]:text-[1.2rem]'
        aria-label={'Ir a ' + title + ' para más información'}
      >
        {title}
      </a>
    </h3>
    <p class='text-xs line-clamp-3'>
      {description}
    </p>
  </div>
</article>

<style>
  .shadow-project {
    box-shadow: 0px 2px 15px 0px rgba(241, 150, 28, 0.2);
  }

  .overlay {
    background: linear-gradient(
      to top,
      #050505 0%,
      rgba(5, 5, 5, 0.8) 40%,
      rgba(5, 5, 5, 0) 100%
    );
  }
</style>
