---
import { Image } from 'astro:assets'
import noDisponible from '/src/assets/no-disponible.png'
interface Props {
  img: string
  imgAlt: string
  title: string
  description: string
  index: number
}

const { img, imgAlt, title, description, index } = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/machines/*',
  { eager: true }
)

function getImagePath(fileName: string | undefined) {
  if (!fileName) return null
  const path = `/src/assets/machines/${fileName}`
  return images[path]?.default || null
}

const image = getImagePath(img)
---

<article
  class='group relative flex flex-col gap-3 w-[290px] h-[290px] max-[350px]:w-[230px] max-[350px]:h-[230px] overflow-hidden shadow-lg shadow-[#F1961C]/10 hover:shadow-[#F1961C]/20 transition-shadow duration-300 opacity-0'
  data-index={index}
  id='fade-in-up'
>
  <Image
    src={image || noDisponible}
    alt={imgAlt}
    widths={[230, 290]}
    sizes='(max-width: 350px) 230px, 290px'
    quality={'max'}
    class='w-full h-full object-cover transition-transform duration-300 group-hover:scale-105'
  />
  <div
    class='absolute inset-0 w-full h-full flex flex-col items-start justify-end p-4 invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-opacity duration-300 overlay'
  >
    <h3
      class='text-0 font-noto text-second-color font-bold tracking-tight max-[350px]:text-xs'
    >
      {title}
      <span class='sr-only'>máquina</span>
    </h3>
    <p class='text-xs line-clamp-3'>
      {description}
    </p>
  </div>
</article>

<style>
  .overlay {
    background: linear-gradient(
      to top,
      #050505 0%,
      rgba(5, 5, 5, 0.8) 40%,
      rgba(5, 5, 5, 0) 100%
    );
  }
</style>
