---
import Calender from '@components/icons/project/calender.astro'
import Category from '@components/icons/project/category.astro'
import Location from '@components/icons/project/location.astro'
import { Picture } from 'astro:assets'
import noDisponible from '/src/assets/no-disponible-400x240.png'

interface Props {
  img: string
  imgAlt: string
  title: string
  description: string
  link: string
  location: string
  startDate: string
  endDate: string
  category: string
  index: number
}

const {
  img,
  imgAlt,
  title,
  description,
  link,
  location,
  startDate,
  endDate,
  category,
  index
} = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/projects/*',
  { eager: true }
)

function getImagePath(fileName: string | undefined) {
  if (!fileName) return null
  const path = `/src/assets/projects/${fileName}`
  return images[path]?.default || null
}

const image = getImagePath(img)
---

<article
  class='bg-background-color max-w-[400px] rounded-10px overflow-hidden shadow-lg shadow-[#F1961C]/10 hover:shadow-[#F1961C]/20 transition-shadow duration-300 opacity-0'
  data-index={index}
  id='fade-in-up'
>
  <div class='max-h-[240px] overflow-hidden flex justify-center items-center'>
    <Picture
      src={image || noDisponible}
      alt={imgAlt}
      formats={['webp']}
      widths={[308, 358, 400]}
      sizes='(max-width: 350px) 308px,(max-width: 400px) 358px, 400px'
      quality={95}
      class='transition-transform duration-300 hover:scale-105'
    />
  </div>
  <div class='sm:h-[340px] p-6 flex flex-col justify-between'>
    <h3 transition:name={`project.title-${title}`}>
      <a
        href={link}
        class='font-noto font-bold text-second-color text-1 mb-2 sm:mb-0 line-clamp-1 hover:underline'
      >
        {title}
        <span class='sr-only'>Ir al proyecto de {title}</span>
      </a>
    </h3>
    <div class='flex flex-col gap-2 text-xs mb-3 sm:mb-6'>
      <div
        class='flex items-center gap-2 text-xxs sm:text-xs'
        transition:name={`project.location-${title}`}
      >
        <Location />
        <p>{location}</p>
      </div>
      <div
        class='flex items-center gap-2 text-xxs sm:text-xs'
        transition:name={`project.date-${title}`}
      >
        <Calender />
        <p>
          {
            startDate && (
              <>
                {startDate}
                <span class='mx-1'>-</span>
              </>
            )
          }
          {endDate}
        </p>
      </div>
      <div
        class='flex items-center gap-2 text-xxs sm:text-xs'
        transition:name={`project.category-${title}`}
      >
        <Category />
        <p>{category}</p>
      </div>
    </div>
    <p
      class='text-xs line-clamp-3 mb-3 sm:mb-6'
      transition:name={`project.description-${title}`}
    >
      {description}
    </p>
    <footer>
      <a
        href={link}
        class='text-second-color hover:underline flex items-center gap-2 focus:outline-offset-4 focus:outline-2 group'
        aria-label={'Ir a ' + title + ' para m치s informaci칩n'}
      >
        M치s informaci칩n
        <span class='sr-only'>sobre {title}</span>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          fill='none'
          class='transition-transform group-hover:translate-x-1'
          ><path
            stroke='#F1961C'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='m9 18 6-6-6-6'></path></svg
        >
      </a>
    </footer>
  </div>
</article>
