---
import { Image } from 'astro:assets'
import noDisponible from '/src/assets/no-disponible.png'

interface Props {
  img: string
  imgAlt: string
  title: string
  description: string
  link: string
  index: number
}

const { img, imgAlt, title, description, link, index } = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/services/*',
  { eager: true }
)

function getImagePath(fileName: string | undefined) {
  if (!fileName) return null
  const path = `/src/assets/services/${fileName}`
  return images[path]?.default || null
}

const image = getImagePath(img)
---

<article
  class='flex flex-col gap-3 w-[270px] h-auto min-h-[414px] max-[350px]:w-[230px] max-[350px]:min-h-[380px] opacity-0'
  data-index={index}
  id='fade-in-up'
>
  <picture
    class='w-[270px] h-[270px] max-[350px]:w-[230px] max-[350px]:h-[230px] overflow-hidden rounded-10px'
  >
    <Image
      src={image || noDisponible}
      alt={imgAlt}
      widths={[230, 270]}
      sizes='(max-width: 350px) 230px, 270px'
      quality={'max'}
      class='w-full h-full object-cover transition-transform duration-300 hover:scale-105'
    />
  </picture>
  <div class='flex flex-col justify-between h-[144px] pb-3'>
    <header>
      <h3
        class='text-[1.4rem] font-noto text-third-color font-medium tracking-tight max-[350px]:text-[1.2rem]'
        transition:name={`service.title-${title}`}
      >
        {title}
        <span class='sr-only'>servicio</span>
      </h3>
    </header>
    <p
      class='text-xs line-clamp-3'
      transition:name={`service.description-${title}`}
    >
      {description}
    </p>
    <footer>
      <a
        href={link}
        class='text-second-color hover:underline flex items-center gap-2 focus:outline-offset-4 focus:outline-2 group'
        aria-label={'Ir a ' + title + ' para m치s informaci칩n'}
      >
        M치s informaci칩n
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          fill='none'
          class='transition-transform group-hover:translate-x-1'
          ><path
            stroke='#F1961C'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='m9 18 6-6-6-6'></path></svg
        >
      </a>
    </footer>
  </div>
</article>
